.anchor-pane {
    -fx-background-color: linear-gradient(to left, #a8c0ff,#a020f0);
}
.rounded-button {
	-fx-background-color: linear-gradient(to left, #d97df4, #983ab3);
    -fx-background-radius: 50px;
    -fx-text-fill: white;
    -fx-font-size: 18px;
}
.button:hover {
    -fx-cursor: hand;
}
.menu-button .context-menu {
    -fx-background-color: transparent;
}